
    <div class="wrapper">
        <div class="top_nav">
          <div class="left">
            <div class="logo"><p><span >Vidyalakshmi</span> Finance Services</p></div>
            
        </div> 
        <div class="right1">
          <ul>
            <li><a href="#">Email US<br></a><p>vidyalakshmi@gmail.com</p></li>
            <li><a href="#">Call Us</a><p>+91 9800119800</p></li>
          </ul>
        </div>
        <div >
          <!-- <button class="btn" (click)="log()" style="height: 40px; width: 80px; background-color:aqua; margin-right: 30px; " >Login</button> -->
        </div>
        </div>
         <div class="manual">
        <div class="nav " data-spy="affix" data-offset-top="197">
          <nav>
           
            <input type="checkbox" id="click">
           
            <ul>
              <li><a  href="/#/home">Home</a></li>
              <li><a href="/#/home/check/eligibility">Check Eligibility</a></li>
              <li><a href="/#/home/reg/enquiry">Loan Enquiry</a></li>
              <li><a href="#">Branches</a></li>
              <li><a href="#">Proccess</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <router-outlet></router-outlet>
     </div>
</div>
