
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h2 class="card-title ">Details of Application no: {{com.Application.applicationId}}</h2>
                    </div>
           
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <h4>Enquiry Personal Details</h4>
                                    </tr>
                                    <tr >
                                        <th>
                                            Application Id:
                                        </th>
                                        
                                <td>{{com.Application.applicationId}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        Application Status:
                                    </th>
                                    <td>{{com.Application.application_Status}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        Applicant Name:
                                    </th>
                                    <td>{{com.Application.enquiryPersonalDetails.ename}}</td>
                                </tr>
                                <tr>

                                    <th>
                                        Gender:
                                    </th>
                                    <td>{{com.Application.enquiryPersonalDetails.egender}}</td>
                                </tr>
                                
                                <tr>
                                    <th>
                                    Category:
                                </th>
                                <td>{{com.Application.enquiryPersonalDetails.ecategory}}</td>
                            </tr>
                            <tr>
                            <th>
                                Email:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.eemail}}</td>
                        </tr>
                        <tr>
                            <th>
                                Mobile:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.emobile}}</td>
                        </tr>

                        <tr>
                            <th>
                                Annual family income:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.annualfamilyincome}}</td>
                        </tr>

                        <tr>
                            <th>
                                Loan range Amount:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.loanrangeAmount}}</td>
                        </tr>
                        <tr>

                            <th>
                                Id:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.id}}</td>
                        </tr>
                        <tr>
                            <th>
                                District:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.district}}</td>
                        </tr>
                        <tr>
                            <th>
                                State:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.state}}</td>
                        </tr>
                        <tr>
                            <th>
                                City:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.city}}</td>
                        </tr>
                        <tr>
                            <th>
                                Landmark:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.landmark}}</td>
                        </tr>
                        <tr>
                            <th>
                                Blockno:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.blockno}}</td>
                        </tr>
                        <tr>
                            <th>
                                City pin code:
                            </th>
                            <td>{{com.Application.enquiryPersonalDetails.address.citypin}}</td>
                        </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                   
                    <div class="card-body">
                        
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <h4>Gaurantor Details</h4> <td></td>
                                    </tr>
                                    <tr >
                                        <th>
                                            Gaurantor id:
                                        </th>
                                        
                                <td>{{com.Application.gaurantorDetails.gid}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        Gaurantor gname:
                                    </th>
                                    <td>{{com.Application.gaurantorDetails.gname}}</td>
                                </tr>
                                <tr>
                                    <th>
                                        Gaurantor gdob:
                                    </th>
                                    <td>{{com.Application.gaurantorDetails.gdob}}</td>
                                </tr>
                                <tr>

                                    <th>
                                        Gaurantor ggender:
                                    </th>
                                    <td>{{com.Application.gaurantorDetails.ggender}}</td>
                                </tr>
                            <tr>
                            <th>
                                Gaurantor gemail:
                            </th>
                            <td>{{com.Application.gaurantorDetails.gemail}}</td>
                        </tr>
                        <tr>
                            <th>
                                Gaurantor gmobile:
                            </th>
                            <td>{{com.Application.gaurantorDetails.gmobile}}</td>
                        </tr>
                        <tr>

                            <th>
                                Gaurantor occupation:
                            </th>
                            <td>{{com.Application.gaurantorDetails.occupation}}</td>
                        </tr>
                        <tr>
                            <th>
                                Gaurantor panno:
                            </th>
                            <td>{{com.Application.gaurantorDetails.panno}}</td>
                        </tr>
                        <tr>
                            <th>
                                Gaurantor relationWithStudent:
                            </th>
                            <td>{{com.Application.gaurantorDetails.relationWithStudent}}</td>
                        </tr>
                        <tr>
                            <h4>Gaurantor Address Details</h4> <td></td>
                        </tr>
                       
                        <tr>

                            <th>
                                Id:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.id}}</td>
                        </tr>
                        <tr>
                            <th>
                                District:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.district}}</td>
                        </tr>
                        <tr>
                            <th>
                                State:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.state}}</td>
                        </tr>
                        <tr>
                            <th>
                                City:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.city}}</td>
                        </tr>
                        <tr>
                            <th>
                                Landmark:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.landmark}}</td>
                        </tr>
                        <tr>
                            <th>
                                Blockno:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.blockno}}</td>
                        </tr>
                        <tr>
                            <th>
                                City Pin code:
                            </th>
                            <td>{{com.Application.gaurantorDetails.address.citypin}}</td>
                        </tr>     

<tr>
    <h4>Gaurantor Previous Loan Details</h4> <td></td>
</tr>
<tr>
    <th>
        Gaurantor previous loan id:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.pldid}}</td>
</tr>
<tr>
    <th>
        Previous Loan Amount:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.previousLoanAmount}}</td>
</tr>

<tr>

    <th>
        Previous Loan Tenure:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.previousLoanTenure}}</td>
</tr>
<tr>
    <th>
        Previous Loan paid Amount:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.previousLoanpaidAmount}}</td>
</tr>
<tr>
    <th>
        Previous Loan remaining Amount:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.previousLoanremainingAmount}}</td>
</tr>
<tr>
    <th>
        Previous Loan Status:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.previousLoanStatus}}</td>
</tr>
<tr>
    <th>
        Previous Loan Remark:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.previousLoanRemark}}</td>
</tr>

<tr>
   <h4> Gaurantor Previous Loan Bank Details</h4> <td></td>
</tr>

<tr>

    <th>
        Previous Loan bank Acc. No:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.bankdetails.bankAccNo}}</td>
</tr>
<tr>
    <th>
        Acc. Holder Name:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.bankdetails.accHolderName}}</td>
</tr>
<tr>
    <th>
        Bank name:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.bankdetails.bankname}}</td>
</tr>
<tr>
    <th>
        Bank IFSC:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.bankdetails.bankIFSC}}</td>
</tr>
<tr>
    <th>
        Branch Name:
    </th>
    <td>{{com.Application.gaurantorDetails.previousloandetils.bankdetails.branchName}}</td>
</tr>


                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-body">
                        
                    <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr><h4>Educational Details</h4> <td></td></tr>
                                    <tr ><th> Education id:</th><td>{{com.Application.educationDetails.eid}}</td></tr>
                                <tr ><th> Education type:</th><td>{{com.Application.educationDetails.type}}</td></tr>
                            <tr ><th> Education country:</th> <td>{{com.Application.educationDetails.country}}</td></tr>
                        <tr ><th> Education duration:</th><td>{{com.Application.educationDetails.duration}}</td></tr>
                    <tr ><th> Education fees: </th> <td>{{com.Application.educationDetails.fees}}</td></tr>
                <tr ><th>Institute name:</th> <td>{{com.Application.educationDetails.institutename}}</td> </tr>
            
        <tr ><h4>College Details:</h4><td></td></tr>
        <tr ><th>College Id:</th> <td>{{com.Application.educationDetails.college.collegeId}}</td> </tr> 
        <tr ><th>College name:</th> <td>{{com.Application.educationDetails.college.collegeName}}</td> </tr> 
        <tr ><th>College email:</th> <td>{{com.Application.educationDetails.college.collegeEmail}}</td> </tr> 
        <tr ><th>College mobile number:</th> <td>{{com.Application.educationDetails.college.collegeMobile}}</td> </tr>  
        <tr></tr>
        <tr > <h4>College Address </h4><td></td></tr>
        <tr ><th>id:</th> <td>{{com.Application.educationDetails.college.collegeaddress.id}}</td> </tr>
        <tr ><th> District:</th> <td>{{com.Application.educationDetails.college.collegeaddress.district}}</td> </tr>
        <tr ><th>State:</th> <td>{{com.Application.educationDetails.college.collegeaddress.state}}</td> </tr>
        <tr ><th>City:</th> <td>{{com.Application.educationDetails.college.collegeaddress.city}}</td> </tr>
        <tr ><th>Landmark:</th> <td>{{com.Application.educationDetails.college.collegeaddress.landmark}}</td> </tr>
        <tr ><th>Block no:</th> <td>{{com.Application.educationDetails.college.collegeaddress.blockno}}</td> </tr>
        <tr ><th>City Pin Code:</th> <td>{{com.Application.educationDetails.college.collegeaddress.citypin}}</td> </tr>
</tbody>
                                    </table>
                                    </div>
                                    </div>
  <div class="card-body">  
     <div class="table-responsive">
            <table class="table">
                <tbody>
                    
                    <tr ><h4>Education Previous History Details</h4> <td></td> </tr>
                    <tr ><th>Id:</th> <td>{{com.Application.educationPrevHistory.pcId}}</td> </tr>
                    <tr ><th>Previous course:</th> <td>{{com.Application.educationPrevHistory.previouscourse}}</td> </tr>
                    <tr ><th>Year:</th> <td>{{com.Application.educationPrevHistory.year}}</td> </tr>
                    <tr ><th>Percentage:</th> <td>{{com.Application.educationPrevHistory.percentage}}</td> </tr>
                    <tr ><th>Institute:</th> <td>{{com.Application.educationPrevHistory.institute}}</td> </tr>
</tbody>
</table>
</div>
</div> 
<div class="card-body">  
    <div class="table-responsive">
           <table class="table">
               <tbody>
                   <tr ><h4>Student bank Details</h4> <td></td> </tr>
                   <tr ><th>Id:</th> <td>{{com.Application.studentbankDetails.bankid}}</td> </tr>
                   <tr ><th>Bank Acc. No:</th> <td>{{com.Application.studentbankDetails.bankAccNo}}</td> </tr>
                   <tr ><th>Acc. Holder Name:</th> <td>{{com.Application.studentbankDetails.accHolderName}}</td> </tr>
                   <tr ><th>Bank name:</th> <td>{{com.Application.studentbankDetails.bankname}}</td> </tr>
                   <tr ><th>Bank IFSC:</th> <td>{{com.Application.studentbankDetails.bankIFSC}}</td> </tr>
                   <tr ><th>Branch Name:</th> <td>{{com.Application.studentbankDetails.branchName}}</td> </tr>
</tbody>
</table>
</div>
</div>
<div class="card-body">  
    <div class="table-responsive">
           <table class="table">
               <tbody>
                
                   <tr ><h4>Documents</h4> <td></td> </tr>
                   <tr ><th>Documents Id:</th> <td>{{com.Application.documents.docId}}</td> </tr>
                   <tr ><th>Aadhar Card:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.aadhar"height="150"></td></tr>
                   <tr ><th>Pan Card:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.pan"height="150"></td></tr>
                   <tr ><th>Caste Certificate:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.casteCert"height="150"></td></tr>
                   <tr ><th>Income Certificate:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.incomeCert"height="150"></td></tr>
                   <tr ><th>Bank Statement:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.bankStatement"height="150"></td></tr>
                   <tr ><th>Admission Certificate:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.admissionCert"height="150"></td></tr>
                   <tr ><th>Fee Structure:</th> <td><img [src]="'data:image/jpge;base64,'+com.Application.documents.feeStruct"height="150"></td></tr>

                   
 </tbody>
 </table>
 </div>
 </div> 
 
 

</div>
            </div>
            </div>
           
        </div>
    </div>
    
                                
  