
            <div class="main-content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-8">
            
<h1 style="text-align: center;">Registration Form</h1>
<mat-card>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
<mat-vertical-stepper [linear]="false" #stepper animationDuration="2000">
  <form [formGroup]="CregForm" (ngSubmit)="saveInfo()">
  <mat-step label="Applicant Info">
    
      <ng-template matStepLabel>Applicant Info</ng-template>
      <mat-form-field>
       <input matInput type="text"  placeholder="Applicant Name" formControlName="customerName">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"  placeholder="Applicant DOB" formControlName="customerDateOfBirth">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"  placeholder="Applicant Email" formControlName="customerDateOfBirth">
      </mat-form-field><br>
      
      <div class="example-button-row">
        <button  mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    
  </mat-step>

  
  <mat-step label="Customer Address">
    <div formGroupName="address">
      <ng-template matStepLabel>Customer Address</ng-template>

    <mat-form-field>
      <input matInput type="text"  placeholder="Area name" formControlName="areaname">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text"   placeholder="Cityname" formControlName="cityname">
    </mat-form-field><br>
   
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>

        
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Profession">
    <div formGroupName="profession">
      <ng-template matStepLabel>Profession</ng-template>

    <mat-form-field>
      <input matInput type="text"   placeholder="Profession Type" formControlName="professionType">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="text"   placeholder="Income" formControlName="professionSalary">
    </mat-form-field><br>

    <div>      
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-raised-button  color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent"  type="submit"  (click)="saveInfo()" >Submit</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </div>
    </div>
  </mat-step>

</form>
</mat-vertical-stepper>
</mat-card-content>
</mat-card>

                      </div>
                      </div>
              </div>
            </div>




