
            <div class="main-content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-8">
            
<h1 style="text-align: center;">Registration Form</h1>
<mat-card>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
<mat-vertical-stepper [linear]="false" #stepper animationDuration="2000">
  <form [formGroup]="application" (ngSubmit)="saveInfo()">
  <mat-step label="Enquiry Personal Details">
    <div formGroupName="enquiryPersonalDetails">
      <ng-template matStepLabel>Enquiry Personal Details</ng-template>
      <mat-form-field>
       <input hidden="on" matInput type="number"  placeholder="eid" formControlName="eid">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput type="text"  placeholder="Full Name" formControlName="ename">
       </mat-form-field><br>
       <mat-form-field>
        <input matInput type="text"  placeholder="Date of birth" formControlName="edob">
       </mat-form-field><br>
       <mat-form-field>
        <input matInput type="text"  placeholder="Gender" formControlName="egender">
       </mat-form-field><br>
       <mat-form-field>
        <input matInput type="text"  placeholder="Category" formControlName="ecategory">
       </mat-form-field><br>
       <mat-form-field>
        <input matInput type="email"  placeholder="Email" formControlName="eemail">
       </mat-form-field><br>
       <mat-form-field>
        <input matInput type="number"  placeholder="Mobile number" formControlName="emobile">
       </mat-form-field><br>
       <div formGroupName="address">
        <ng-template matStepLabel>Applicant Address</ng-template>
        <mat-form-field>
          <input hidden="on" matInput type="number"  placeholder="id" formControlName="id">
         </mat-form-field><br>
         <mat-form-field>
          <input matInput type="text"  placeholder="District" formControlName="district">
         </mat-form-field><br>
         <mat-form-field>
          <input matInput type="text"  placeholder="State" formControlName="state">
         </mat-form-field><br>
         <mat-form-field>
          <input matInput type="text"  placeholder="City" formControlName="city">
         </mat-form-field><br>
         <mat-form-field>
          <input matInput type="text"  placeholder="landmark" formControlName="landmark">
         </mat-form-field><br>
         <mat-form-field>
          <input matInput type="number"  placeholder="blockno" formControlName="blockno">
         </mat-form-field><br>
       </div>
      <div class="example-button-row">
        <button  mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Customer Address">
    <div formGroupName="address">
      <ng-template matStepLabel>Gaurantor Details</ng-template>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>

  
  <mat-step label="Customer Address">
    <div formGroupName="address">
      <ng-template matStepLabel>Education Details</ng-template>

      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" matStepperNext>Next</button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Profession">
    <div formGroupName="profession">
      <ng-template matStepLabel>Education Details</ng-template>

    <div>      
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-raised-button  color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="accent"  type="submit"  (click)="saveInfo()" >Submit</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
      </div>
    </div>
    </div>
  </mat-step>

</form>
</mat-vertical-stepper>
</mat-card-content>
</mat-card>

                      </div>
                      </div>
              </div>
            </div>




